<footer class="site-footer">

  <div class="content">

    <div class="contact">
      <h2><a class="site-title" href="{{ site.baseurl }}/">{{ site.title }}</a></h2>
      <ul class="contact-list">
        <li><a href="mailto:{{ site.email }}">{{ site.email }}</a></li>
        {% if site.github_username %}
        <li>
          <a href="https://github.com/{{ site.github_username }}">
            <span class="username">{{ site.github_username }}</span>
          </a>
        </li>
        {% endif %}
      </ul>
    </div>

    <div class="info">
      <p class="text">{{ site.description }}</p>
    </div>

  </div>

</footer>

<script type="text/javascript" 
        src="https://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML">
</script>
<script type="text/x-mathjax-config">
  MathJax.Hub.Config({
    tex2jax: {
      inlineMath: [['$','$'], ['\\[','\\]']]
    },
    "HTML-CSS": {
      availableFonts: [], preferredFont: null, // force Web fonts
      webFont: "STIX-Web"
    }
  });
</script>

