/**
 * Lists
 */
.clean-lists {
  @extend .list-unstyled;
}

@mixin clean-lists {
  ul, ol {
    @extend .clean-lists;
  }
}

@mixin bordered($color: black, $size: 1px, $kind: solid) {
    border: $size $kind $color;
}

/**
 * Tables
 */
table.booktabs {
  margin: auto; // centers table horizontally

  thead {
    font-weight: bold;
    border-top: 2px solid black;
    border-bottom: 1px solid black;
  }

  tfoot, tbody {
    border-top: 1px solid black;
    border-bottom: 2px solid black;
  }

  // provides some space in the cells
  th, td {
    padding: 3px 8px;
  }

  // add some extra whitespace at the edges of the table
  tr {
    td:first-child, th:first-child {
      padding-left: 6px;
    }
    td:last-child, th:last-child {
      padding-right: 6px;
    }
  }
}

// tables have booktabs formatting by default
table {
  @extend .booktabs;
}

// from https://stackoverflow.com/questions/19695784/how-can-i-make-bootstrap-columns-all-the-same-height
.equal-row {
    display: table;
}

.equal-column {
    float: none;
    display: table-cell;
    vertical-align: top;
}

.two-column {
  @extend .container-fluid;

  .row {
    @extend .equal-row;
  }

  .left, .right {
    @extend .col-md-6;
    @extend .equal-column;
    padding: 20px;
  }  

  .right {
    border-left: 1px dashed $gray-light;
  }

}