.clean-lists {
    list-style: none;
    padding: 0;

    li {
      padding: 0;
    }
}

@mixin clean-lists {
  ul, ol {
    @extend .clean-lists;
  }
}

@mixin bordered($color: black, $size: 1px, $kind: solid) {
    border: $size $kind $color;
}
