.derivation {
  @include clean-lists;
  margin: 25px 0;

  //display: inline-block;

  .infrule {
    display: flex;
    flex-direction: row;
    flex-wrap: row;
    justify-content: center;
    align-items: center;
    align-content: stretch;
  }

  .name {
    font-size: small;
    order: 2;
    align-self: flex-end;
    top: -1.5em;
    position: relative;
    padding-left: 5px;
  }

  .logic {
    display: flex;
    flex-direction: column;
    order: 1;

    text-align: center;
  }

  .name:before {
    content: "["
  }

  .name:after {
    content: "]"
  }

  ul.premise, ul.conclusion {
    @extend .list-inline;
    margin: 0;

    li {
      padding-left: 15px;
    }
  }

  
  ul.conclusion {
    border-top: 1px solid black;
  }
}