.derivation {
  @include clean-lists;

  .infrule {
    display: inline-block;
  }

  text-align: center;

  .name {
    font-size: small;
    float: right;
  }

  .name:before {
    content: "["
  }

  .name:after {
    content: "]"
  }

  ul.premises {
    margin: 0;
    @extend .list-inline;
    li {

    }
  }

  ul.conclusions {
    margin: 0;
    border-top: 1px solid black;
  }
}