/*******************************************************************************
  Pages
*******************************************************************************/
.page-content {
    padding: $spacing-unit 0;
    @extend .container;
}

.page-heading {
    font-size: 20px;
}

.post-list {
    margin-left: 0;
    list-style: none;

    > li {
        margin-bottom: $spacing-unit;
    }
}

.post-meta {
    font-size: $font-size-small;
    color: $gray;
}

.post-link {
    display: block;
    font-size: 24px;
}

/*******************************************************************************
  Posts
*******************************************************************************/
.post {
  max-width: $screen-md;
  @extend .row;
  margin: auto;
}

.post-content {
  @extend .col-md-12;

  h2 {
    font-weight: bold;
    margin-top: 2 * $spacing-unit;
  }

  h3 {
    margin-top: $spacing-unit;
    color: $gray-darker;
    border-bottom: 1px solid $gray-lighter;
  }

  aside {
    @extend .col-md-4;
    @extend .pull-right;
    @extend .well;

    color: $aside-color;
    background-color: $aside-background;
    padding: 15px 10px;
    margin-left: 15px;

    h3, h4 {
        margin-top: 5px;
        font-weight: bold;
        border-bottom: 1px solid $gray-darker;
    }

    p {
        text-align: left;        
    }
  }

  p {
    text-align: justify;
  }
}

#markdown-toc {
  @extend .clean-lists;
}

.footnotes {
  margin-top: 30px;
  padding: 10px 0;
  border-top: 1px solid lightgray;
}

/*******************************************************************************
  Site header
*******************************************************************************/
.site-header {
    @extend .container-fluid;
    border-top: 5px solid $gray-dark;
    border-bottom: 1px solid $gray-light;
    min-height: 56px;

    padding: 0px 20px;

    // Positioning context for the mobile navigation icon
    position: relative;
}

header {
    .content {
        @extend .row;

        .title {
            @extend .col-md-8;
        }

        nav {
            @extend .col-md-4;
            position: absolute;
            bottom: 25%;
            right: 0;
            text-align: right;
        }
    }
}

.site-nav {
    //line-height: 56px;

    .menu-icon {
        display: none;
    }

    .page-link {
        color: $text-color;
        line-height: $line-height-base;

        // Gaps between nav items, but not on the first one
        &:not(:first-child) {
            margin-left: 20px;
        }
    }

    @include media-query($on-palm) {
        position: absolute;
        top: 9px;
        right: 30px;
        background-color: $background-color;
        border: 1px solid $gray-light;
        border-radius: 5px;
        text-align: right;

        .menu-icon {
            display: block;
            float: right;
            width: 36px;
            height: 26px;
            line-height: 0;
            padding-top: 10px;
            text-align: center;

            > svg {
                width: 18px;
                height: 15px;

                path {
                    fill: $gray-dark;
                }
            }
        }

        .trigger {
            clear: both;
            display: none;
        }

        &:hover .trigger {
            display: block;
            padding-bottom: 5px;
        }

        .page-link {
            display: block;
            padding: 5px 10px;
        }
    }
}

/*******************************************************************************
  Site footer
*******************************************************************************/
footer.site-footer {
    @extend .container-fluid;
    @include clean-lists;

    border-top: 1px solid $gray-light;
    margin-top: 50px;
    padding: 20px 20px;

    h2 {
        margin-top: 0;
    }

    .content {
        @extend .row;

        .contact {
            @extend .col-md-4;
        }

        .info {
            @extend .col-md-8;
        }
    }    
}
