$aside-color: black;
$aside-background: $grey-color-light;

.post {
  max-width: 960px;
  @extend .row;
  margin: auto;
}

.post-content {
  @extend .col-md-12;

  aside {
    @extend .col-md-4;
    @extend .pull-right;
    @extend .well;

    color: $aside-color;
    background-color: $aside-background;
    padding: 15px 10px;
    margin-left: 10px;
  }
}

#markdown-toc {
  @extend .clean-lists;
}

.footnotes {
  margin-top: 30px;
  padding: 10px 0;
  border-top: 1px solid lightgrey;
}