@import "bootstrap";

/*******************************************************************************
  Fonts
*******************************************************************************/
$base-font-family: Helvetica, Arial, sans-serif;
$font-base-size:   18px;

/*******************************************************************************
  Colors
*******************************************************************************/
$background-color: #fdfdfd;
$brand-color:      #2a7ae2;

$aside-color: black;
$aside-background: $gray-lighter;

/*******************************************************************************
  Layout
*******************************************************************************/
$spacing-unit:     30px;

$on-palm:          600px;
$on-laptop:        800px;
