@import "bootstrap";

/*******************************************************************************
  Fonts
*******************************************************************************/
@import url("https://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic");
@import url("https://fonts.googleapis.com/css?family=Bitter:400,700,400italic'");

$font-size-base: 17px;

$font-family-serif:       "Lora", $font-family-serif;
$font-family-sans-serif:  "Bitter", $font-family-sans-serif;

$headings-font-family: $font-family-serif;

/*******************************************************************************
  Colors
*******************************************************************************/
$background-color: #fdfdfd;
$brand-color:      #2a7ae2;

$aside-color: black;
$aside-background: $gray-lighter;

$code-color: $gray-dark;
$code-bg: transparent;

/*******************************************************************************
  Layout
*******************************************************************************/
$spacing-unit:     30px;

$on-palm:          600px;
$on-laptop:        800px;
